@font-face {
    font-family: 'StabilGrotesk';
    src: url('../Assets/Fonts/StabilGrotesk-Light.otf') format('opentype');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'StabilGrotesk';
    src: url('../Assets/Fonts/StabilGrotesk-LightItalic.otf') format('opentype');
    font-weight: 100;
    font-style: italic;
}
@font-face {
    font-family: 'StabilGrotesk';
    src: url('../Assets/Fonts/StabilGrotesk-regular.otf') format('opentype');
    font-weight: normal;
}
@font-face {
    font-family: 'StabilGrotesk';
    src: url('../Assets/Fonts/StabilGrotesk-Bold.otf') format('opentype');
    font-weight: bold;
}

@font-face {
    font-family: 'FraktionMono';
    src: url('../Assets/Fonts/PPFraktionMono-Regular.ttf') format('truetype');
    font-weight: normal;
}
@font-face {
    font-family: 'FraktionMono';
    src: url('../Assets/Fonts/PPFraktionMono-Bold.ttf') format('truetype');
    font-weight: bold;
}

:root{
    --SafeHomes: #ff0000;
    --SafeCommunity: #00ff00;
    --SafeEnvironment: #0000ff;

    --width-max:1200px;
}

body{
  font-family:StabilGrotesk;
  font-weight: 100;

}

main,
header,
footer{
    max-width:var(--width-max);
     margin:auto;
}

footer{
    display:flex;
    justify-content:space-between;
}

fieldset{
  padding:0px;
  margin:0px;
  border:none;
}

/* Containers */

.Container{

    &.FlexContainer{
        display:flex;

        &.FlexRow{
            flex-direction:row;
        }

        &.FlexCol{
            flex-direction:column;
        }
    }

    &.ContainerGap-Small{
        gap:1rem;
    }
}

/* Pills */
ul.pillBox,
ul.pillBox li{
  list-style-position:inside;
  margin:0px;
  list-style:none;
}

ul.pillBox{
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  padding:0px;
  gap:0.5rem;
}

li.pill{
  display:block;
  padding:0.1rem 0.25rem;
  border:1px solid red;
  font-family:'FraktionMono';
  font-size:0.75rem;
  font-weight:600;
}

/* Database */
#DatabaseContentLayout{
    display:grid;
    grid-template-columns:300px 1fr;

}

/* Drilldown */

.DrillDownFilterNav{

  :not(.ShowNav)>&{
    display: none;
  }
}

.DrillDownFilterMenuSection{
  display:flex
}

.


/* Check Nested */
.CheckNested{
}

.CheckGroup:has(>.CheckGroupHead input.visToggle:not(:checked)) > .CheckNested{
  display:none;
}

.CheckGroup{
  display:flex;
  display:webkit-flex;
  flex-direction:Column;
}

.CheckGroup>.CheckGroupHead:has(>label>input:checked.filterValue) > label{
  font-weight:bold;
}

.CheckGroup>.CheckGroupHead{
  padding:1rem;
  display:flex;
  flex-grow:1;
  align-items:center;
  gap:0.25rem;
}
.CheckGroup.CheckGroupL1>.CheckGroupHead{
  background-color:red;
  color:#FFFFFF;
}
.CheckGroup.CheckGroupL2>.CheckGroupHead{
  border-left:4px solid red;
}
.CheckGroup.CheckGroupL3>.CheckGroupHead{
  border-left:1px solid red;
}

label.visToggleLabel{
  display:inline-Block;
}

label.visToggleLabel::before{
  display:block;
  content:'';
  width:0.5rem;
  height:0.5rem;
  background-color:currentColor;
  clip-path:polygon(0% 0%, 100% 50%, 0% 100%);
  transform:rotate(0deg);
  transition:transform 0.25s;
}
label.visToggleLabel:has(input:checked)::before{
  transform:rotate(90deg);
}
input.visToggle{
  display:none;
}

input.filterValue{
 display:none;
}

/* for cards */

.ContentContainer>ul,
.ContentContainer>ul>li{
  list-style-position:inside;
  margin:0px;
  list-style:none;
  padding:0px;
}

.ContentContainer>ul{
  display:grid;
  grid-template-columns:1fr 1fr 1fr;
  gap:10px;
}
.ContentContainer>ul>li{
  display:block;
  border:2px solid gray;
  padding:1rem;
}

/* Map */

/* Map Selector */
.mapContainer{
    flex-grow:1;
}

.mapSelect{
  border:none;
  display:grid;
  width:100%;
  grid-auto-flow: dense !important;
}

.stateBox{
  --ColorMain:#0000ff;
  --BorderWeight:1px;
  font-size:0.75rem;
  font-weight:600;
  position:relative;
  display:flex;
  align-items:center;
  justify-content:center;
  padding:1rem 1rem;
  grid-row-start:var(--RowStart);
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  
  & > input{
    display:none;
  }

  &:has(>input:checked){
    color:#ffffff;
  }
  
  .mapContainer:has(>label>input:not(:checked))>.mapSelect>&{
    grid-row-start:auto !important;
    padding:0rem 1rem;
  }

  &::before{
    content:attr(data-abbreviation);
    display:block;
    position:relative;
    z-index:1;
  }

  &:hover::before,
  &:has(>input:checked){
    /* font-weight:1000; */
  }

  &::after{
   content:'';
    display:block;
    position:absolute;
    inset:2px;
    border:var(--BorderWeight) solid var(--ColorMain);
    z-index:0;
  }
  &:has(>input:checked)::after{
    background-color:var(--ColorMain)
  }
  &:hover::after{
    inset:5px;
  }
  
}

#map-title{

    & h2{
        margin:0;
    }
}

/* Map Content */
#CaseStudies{
}

#CaseStudies .CaseStudyItem{
  margin:1rem 0;
}

#CaseStudies .CaseStudyItem .CaseStudyInfo,
#CaseStudies .CaseStudyItem .MoreInfo{
  display:grid;
  grid-template-columns:1fr 1fr;
}

.CaseStudyItem .CaseStudyTitle{
  grid-column-start:1;
}
.CaseStudyItem .pillBox{
  grid-column-start:1;
  grid-row-start:2;
}
.CaseStudyItem .Taxonomy{
  grid-column:2;
  grid-row: span 2;
  display:grid;
  grid-template-columns:1fr 1fr 1fr;
}

.ExpandRuleBox:has(>label>input:not(:checked)) .ContentArea > .MoreInfo{
  display:none !important;
}



/* Epanding Rule */
.ExpandRuleBox{
    display:flex;
}

.ExpandRuleBox>label>input{
    display:none;
}

.ExpandRuleBox>label{
    display:flex;
    align-items:start;

    --BorderWidth:2px;
    --ColorMain:green;
    border-color:var(--ColorMain);
    border-style:solid;
    border-width:0 0 0 0;

    &.FlagLeft{
        align-self:stretch;
        border-width:0 var(--BorderWidth) 0 0;
    }

    &:has(>input:checked){
        align-items:end;
    }
}

.ExpandRuleBox>label> .RuleFlag{
    width:1rem;
    height:1rem;
    background-color:var(--ColorMain);
}
